@font-face {
  font-family: "DINNeuzeitGroteskStd-Light";
  src: url("./DINNeuzeitGroteskStd-Light.otf") format("opentype");
}
.header {
  display: flex;
  align-self: center;
  padding: 3px;
  font-size: 1.5rem;
}
body {
  font-family: "DINNeuzeitGroteskStd-Light";
  background-color: #5b0099;
  width: 350px;
  font-size: 1rem;
}

.container-main {
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.back-button {
  display: block;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 1px solid red;
}

.back-button:hover {
  background: #eb2f06;
}

.icon {
  color: #ffffff;
  font-size: 2rem;
  padding: 5px;
  border: none;
}

.icon:hover {
  cursor: pointer;
}

/* twitter button class*/
.twitterBtn {
  background: transparent;
}

.twitterBtn:before {
  font-family: "FontAwesome";
  content: "\f099"; /* add twitter icon */
}

.whatsappBtn {
  background: transparent;
}

.whatsappBtn:before {
  font-family: "FontAwesome";
  content: "\f232"; /* add whatsapp icon */
}

.main-bg {
  text-align: -webkit-center;
  background-color: #5dd4c6;
  min-height: 250px;
  height: 100%;
}
.flex-column {
  flex-direction: column;
}

.word {
  color: #5b0099;
  font-size: 1.6rem;
}

.small {
  font-size: small;
  color: #5b0099;
}

hr {
  color: #5b0099;
  width: 50%;
  height: 2px;
  background-color: #5b0099;
  border: none;
  margin: 30px 0 20px;
}

.content {
  padding: 2%;
  flex: 1 0 auto;
}

.footer-bg {
  background-color: #5b0099;
  height: 4rem;
  flex-direction: row;
  margin-top: 20px;
}

.logo {
  max-width: 100%;
  max-height: 100%;
}

.logo-img {
  max-width: 100%;
  max-height: 100%;
}

.footer {
  justify-content: space-around;
}
.icon-list {
  display: flex;
  align-self: center;
  margin: 2px;
}

.share-text {
  color: #ffc800;
}
.previous {
    background-color: transparent;
  color: black;
}

.next {
    background-color: transparent;
  color: black;
}

.previous::before{
    font-family: "FontAwesome";
    content: "\f060";
}

.next::before{
    font-family: "FontAwesome";
    content: "\f061";
}

.round {
  border-radius: 50%;
  border: 1px solid #5b0099;
  width: 32px; height: 32px;
}

Violeta {
  background-color: #5b0099;
}
Blanco {
  background-color: #ffffff;
}
Coral {
  background-color: #f47575;
}
Amarillo {
  background-color: #ffc800;
}
Mint {
  background-color: #5dd4c6;
}
