.male, mark {
    padding: .2em;
    background-color: red;
}

.female, mark {
    padding: .2em;
    background-color: violet;
}

.default-mark, mark {
    padding: .2em;
    background-color: #5b0099;
    color: #fff;
}
